<h1>Listing transaction_partners</h1>

<table>
  <tr>
    <th>Account holder</th>
    <th>Bank name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_partners.each do |transaction_partner| %>
  <tr>
    <td><%= transaction_partner.account_holder %></td>
    <td><%= transaction_partner.bank_name %></td>
    <td><%= link_to 'Show', transaction_partner %></td>
    <td><%= link_to 'Edit', edit_transaction_partner_path(transaction_partner) %></td>
    <td><%= link_to 'Destroy', transaction_partner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction partner', new_transaction_partner_path %>
